@import "../../../../styles.scss";

.questionTemplate {
  width: 47%;
  margin-bottom: 10px;
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  .questionTemplate {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 368px) and (max-width: 567px) {
  .questionTemplate {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 168px) and (max-width: 367px) {
  .questionTemplate {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
