
div { box-sizing: border-box; }

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: fit-content;

}

.card {
    background-color: transparent;
    width: 200p;
    height: 200px;
    
    border-radius: 15px; 
    margin: 0.5em;
    padding: 5px;
    box-shadow: 2px 2px 20px black;
}

.card:hover {
  background-color: #62d5e4;
}

.aligner {
  display: flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  text-align: center;
}
.card-text{
    text-align: center;
    color: darkblue;
}
.value-text{
    font-size: 90px;
    text-align: center;
    color: rgb(153, 13, 87);
}
marquee{
    color: red;
    padding: 5px;
    font-size: large;
}

.contact-us{
text-align: center;
margin: 50px;
}

.question-name{
  color: rgb(7, 7, 90);
  padding:5px;
  margin:20px 20px 0px 20px;
  box-shadow: 2px 2px 20px rgb(1, 1, 24);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: justify;
}

.optionText{
  color: #431c5d;
  padding-top: 10px;
  text-align: justify;
}
.option-container{
  margin:0px 20px 20px 20px;
  padding-left: 5px;
  background-color: #b3e4ec;
}
.result-button{
  float:right;
  margin: 10px;
}

.skip{
  text-align: center;
}

.skip-container{
  text-align: center;
  margin: 20px;
}

@media all and (max-width: 320px),(max-width: 414px),(max-width: 540px){
  .question-name, .optionText{
      font-size: 16px;
      text-align: justify;
  }
  button{
      font-size: 10px;
  }
  .skip{
    text-align: center;
  }
}