@import '../../styles.scss';
.mainText{
  font-size: 30px;
  font-weight: 500;
  color: $green;
}

.subText{
  font-weight: 300;
  color: $light-grey;
  font-size: 18px;
  text-align:justify;
}

.subContainer {
  width:80%;
  text-align: center;
  border: $yellow solid;
  border-radius: 20px;
  border-width: 2px;
  padding: 10px 20px;
}
.heading {
  font-size: 40px;
  line-height: 5vh;
  font-weight: 500;
  color: $green;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.content {
  font-size: 20px;
  line-height: 5vh;
}

.mainContainer{
  width:95%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh ;
}
.subContainer mat-card {
  box-shadow: none;
  width:100%;
  margin:10px auto;
}

.navButton {
  background-color: $yellow;
  color:$white;
  padding:7px 20px;
  font-size: 18px;
  margin:20px;
  outline: none;
}
.navButton:hover {
  background-color: $green;
}

.buttonContainer {
  text-align: center;
  margin: 30px auto;
}
@media screen and  (max-width:968px) {
  .content {
    font-size: 18px;
    line-height: 5vh;
  }

  .heading {
    font-size: 35px;
    line-height: 6vh;
  }
}
@media screen and  (max-width:768px) {
  .content {
    font-size: 17px;
    line-height: 5vh;
  }

  .heading {
    font-size: 28px;
    line-height: 6vh;
    margin-bottom: 25px;
  }
}

@media all and (max-width: 320px),(max-width: 414px),(max-width: 620px){

  .content {
    font-size: 15px;
    line-height: 5vh;
  }

  .heading {
    font-size: 25px;
    line-height: 5vh;
    margin-bottom: 25px;
  }
  .mainContainer {
    height: max-content;
  }
  .subContainer {
    margin:20px 0px;
  }


}



