<mat-card class="skipCard">
  <mat-card-title class="sectionNameText">
    {{ skipIntroCardProperties.sectionName }}
  </mat-card-title>
  <mat-card-content class="sectionDescriptionText">
    {{ skipIntroCardProperties.sectionDescription }}
  </mat-card-content>

  <div class="buttonSelect">
    <app-buttons
      [buttonProperties]="skipIntroCardProperties.previousButtonProperties"
      (buttonClicked)="skipSectionButtonClick()"
    ></app-buttons>
    <app-buttons
      [buttonProperties]="skipIntroCardProperties.continueButtonProperties"
      (buttonClicked)="continueButtonClick()"
    ></app-buttons>
  </div>
</mat-card>
