<mat-card class="skipCard">
  <mat-card-title class="sectionNameText">
    {{ sectionName }}
  </mat-card-title>
  <mat-card-content class="sectionDescriptionText">
    {{ sectionDescription }}
  </mat-card-content>

  <div class="buttonSelect">
    <app-buttons
      [buttonProperties]="skipButtonProperties"
      (buttonClicked)="skipSectionButtonClick()"
    ></app-buttons>
    <app-buttons
      [buttonProperties]="continueButtonProperties"
      (buttonClicked)="continueButtonClick()"
    ></app-buttons>
  </div>
</mat-card>
