@import "../../styles.scss";

.customContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skipCard{
  width: 50%;
  text-align: justify;
}
.skipButton{
  background-color: $yellow;
  outline: 0px;
  color: $white;
  text-transform: uppercase;
}
.skipButton:hover{
  background-color: $yellow ;
  opacity: 0.8;
}

.buttonSelected{
  background-color: $green;
  color: $white;
}

.continueButton{
  background-color: $green;
  color: $white;
}


.skipSection{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.skipContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  
}

label {
  cursor: pointer;
}

.navButtonNext{
  background-color: $white;
  color: $green;
  outline: none;
}

.navButtonPrevious{
  background-color: $white;
  color: $yellow;
  outline: none;
}

.navButtonsContainer {
  text-align: center;
}

.QuestionText {
  color: $light-grey;
  font-weight: bold;
  width: 70%;
  padding: 15px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  height: auto;
  background-color: transparent;
  text-align: center;
  margin: 50px;
  font-size: xx-large;
  
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  flex-direction: row;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
}
.cards {
  background-color: white;
  width: 200px;
  border-radius: 12px;
  padding: 10px 28px 10px 28px;
  margin: 5px;
  text-align: center;
  border: 2px solid $light-grey;
  background-color: rgb(205, 245, 231);
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: $light-grey;
}
::ng-deep .mat-progress-bar-buffer {
  background: transparent;
}
.mat-progress-bar{
  margin-top: 5px;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size:large;
  color: $light-grey;
}
::ng-deep .mat-ink-bar {
  background-color: $green !important;
  height: 3px !important;
  }


.sectionName {
  text-align: center;
  font-size: 2vw;
  padding: 1vh;
}

.sectionNameText {
  color: $green;
  font-size:xx-large;
}

.sectionDescriptionText{
  font-size:large;
  color: $light-grey;
}


button {
  margin: 10px;
}

@media all and (max-width: 320px), (max-width: 414px), (max-width: 540px) {
  .sectionName {
    font-size: 20px;
  }
}
