
label {
    cursor: pointer;
}
.button_slide {
    /* float: right; */
    text-align: center;
    color: #D80286;
    border: 2px solid rgb(216, 2, 134);
    padding: 18px 36px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    transition: ease-out 0.9s;
    border-radius: 50px;
    outline:  0px;
  }

  .slide_right:hover {
    box-shadow: inset 100px 0 0 0 #fff;
  }

  .next-button{
      text-align: center;
  }

.question-text{
    color: #431c5d;
    font-weight: bold;
    width: 70vw;
    margin-top: 20px;
    padding: 15px;
    border-bottom-left-radius:35px ;
    border-top-right-radius: 35px;
    height: auto;
    background-color: transparent;
    text-align: center;
    margin: 50px;
    box-shadow: 2px 2px 30px #431c5d;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    flex-direction: row;
    border-bottom-left-radius:35px ;
    border-top-right-radius: 35px;
}
.cards{
background-color: white;
width: 200px;
border-radius: 12px;
padding: 10px 28px 10px 28px;
margin:5px;
text-align: center;
border: 2px solid yellow;
background-color: rgb(205, 245, 231);

}
::ng-deep .mat-progress-bar-fill::after {
    background-color:blue;
}


h2{
    color: aliceblue;
}
.qno{
    float:left;
   
    margin-left: 10px;
    padding: auto;
    border-radius: 50px;
}

.section-name{
    text-align: center;
    font-size: 2vw;
    padding: 1vh;
}

span {
    color: #e05915;
}



