<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-2">
        <h1>{{ presentQuestion.question }}</h1>
        <div *ngIf="presentQuestion.multiple; else elseBlock">
          <mat-form-feild appearance="fill">
            <mat-label>Choose Answer</mat-label>
            <mat-select [(ngModel)]="answer" multiple>
              <mat-option *ngFor=" let option of presentQuestion.options" 
              [value]="option">
                {{ option.questionText }}
              </mat-option>
            </mat-select>
          </mat-form-feild>
        </div>

        <ng-template #elseBlock>
          <div *ngFor="let option of presentQuestion.options">
            <label>
              <div class="list-group-item">
                <input type="radio" name="option" value="{{ option }}" 
                (change)="radioChangeHandler(option)"
                />
                {{ option.questionText }}
              </div>
            </label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <button (click)="next()"> NEXT </button>
</div>