<mat-tab-group class="section-names" mat-align-tabs="center" animationDuration="0ms" #tabRef 
  (selectedTabChange)="skipSecionHandler(tabRef.selectedIndex)" [selectedIndex]="sectionNumber">
    <mat-tab *ngFor="let allSections of sections" label="{{allSections.sectionName}}"></mat-tab>
</mat-tab-group>

<div *ngIf="!sectionStarted" >
  
  <div class="skip-container">

    <mat-card class="skip-card">
      <mat-card-title class="section-name-text">
      {{ sections[sectionNumber].sectionName }}
      </mat-card-title>
      <br>
      <mat-card-content class="section-description-text">
        {{sections[sectionNumber].sectionDescription}}
      </mat-card-content>

      <mat-card-actions>
      <button mat-raised-button  class="skip-button" (click)="skipSection()">Skip {{sections[sectionNumber].sectionName}}</button>
      <button mat-stroked-button  class="continue-button" (click)="continue()">CONTINUE</button>
      </mat-card-actions>

    </mat-card>
  </div>

</div>


<div *ngIf="sectionStarted">
  <!-- <p class="section-name">
    Current section is :
    <span class="section-name-text">{{
      sections[sectionNumber].sectionName
    }}</span>
  </p> -->

  <mat-progress-bar
    mode="determinate"
    value="{{
      (currentQuestion / sections[sectionNumber].questionId.length) * 100
    }}"
  ></mat-progress-bar>

  <div class="customContainer">
    <h1 class="question-text">
      {{ currentQuestion }} . {{ presentQuestion.question }}
    </h1>

    <div *ngIf="presentQuestion.multiple; else elseBlock">
      <!-- <mat-form-field class="cards-container" appearance="fill">
        <mat-label>Select Options here!</mat-label>
        <mat-select [(ngModel)]="answer" multiple>
          <mat-option
            *ngFor="let option of presentQuestion.options"
            [value]="option"
          >
            {{ option.optionText }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-chip-list selectable multiple  [(ngModel)]="answer">
        <mat-chip #c="matChip" *ngFor="let option of presentQuestion.options" [value]="option"
        (click)="toggleSelection(c)" >
        <!-- <mat-icon *ngIf="c.selected">check</mat-icon> -->
          {{option.optionText}}

        </mat-chip>
      </mat-chip-list>
    </div>

    <ng-template #elseBlock>
      <div class="cards-container">
        <div *ngFor="let option of presentQuestion.options">
          <label>
            <div class="cards">
              <input
                type="radio"
                name="option"
                value="{{ option }}"
                (change)="radioChangeHandler(option)"
              />
              {{ option.optionText }}
            </div>
          </label>
        </div>
        <!-- <mat-radio-group [(ngModel)]="answer">
          <mat-radio-button class="cards" *ngFor="let season of presentQuestion.options" [value]="season">
            {{season.optionText}}
          </mat-radio-button>
        </mat-radio-group> -->

      </div>
    </ng-template>
    <hr />

    <div class="next-button">
      <button mat-fab class="nav-buttons-previous"><mat-icon class="nav-icons">navigate_before</mat-icon></button>
      <button mat-fab class="nav-buttons-next" (click)="next()"><mat-icon class="nav-icons">navigate_next</mat-icon></button>
    </div>
  </div>
</div>
