<html>

<head>
  <style>
  .companyLogo{
  text-align: center;
  }
  .greetings{
  text-align: center;
  font-size: 28px;
  }
  .estimatesHeader{
  text-align: center;
  font-size: 18px;
  }
  .estimates{
  background-color: #15A811;
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  width: fit-content;
  padding: 15px;
  border-radius: 25px;
  margin: 0px;
  }
  .questionTemplate{
  font-size: larger;
  }
  .optionTemplate{
  margin:2px;
  font-size:medium;
  font-weight: 600;
  color: #15A811;
  word-wrap: break-word;
  white-space: pre-wrap;
  }
  .companyName{
  font-weight: 600;
  font-size:medium;
  }
  .contactInfo{
  font-size: medium;
  }
  .divider{
  border: 2px solid grey;
  }

  </style>
</head>

<body>
  <div class="companyLogo"><img src="cid:imagename" /></div>
  <br>
  <p class="greetings">Greetings from Lemon</p>
  <p class="estimatesHeader">Here is the Estimate of your Project</h>
  <p>
    <center>
      <div class="estimates">
        ${{lowerEstimate}} - ${{upperEstimate}}
      </div>
    </center>
    <br><br>

  <p style="font-size: 28px;">Here are the options you picked for your project:</p>
  <div class="divider"></div>
  {{#each questions}}
  <div>
    <p class="questionTemplate">{{this.questionText}}</p>
    {{#each this.options}}

    <span class="optionTemplate">{{this.optionText}}{{#unless @last}},{{/unless}}</span>
    {{/each}}
    <hr>
  </div>
  {{/each}}
  <br>
  <div class="divider"></div>
  <footer>
    <p class="companyName">Lemon Companies BVBA / Lemon Digital BVBA</p>
    <p class="contactInfo">Groeningenlei 16, 2550 Kontich | <a href="mailto:info@lemon.be">info@lemon.be</a> | <a
        href="tel:003233699082">+32 (0)3 369 90 82</a></p>
  </footer>
</body>

</html>