<section *ngIf="sectionExist; else elseBlock" class="mainContainer">
  <h1 class="heading">Overview of {{ sectionName }}</h1>
  <mat-card *ngFor="let question of answers" class="questionTemplate">
    <div class="questionText">{{ question.questionText }}</div>
    <mat-card-content>
      <mat-chip-list class="option-list">
        <mat-chip *ngFor="let option of question.options" class="optionChip">{{
          option.optionText
        }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
  <div class="buttonContainer">
    <button mat-raised-button class="nextSectionButton" (click)="toQuestions()">
      {{ buttonText }}
    </button>
  </div>
</section>
<ng-template #elseBlock>
  <h1 class="heading">No overview exists.</h1>
</ng-template>
