mat-card-title {
  font-size: medium !important;
}

h1{
    font-size: 2.5em;
    text-align: center;
    margin: 30px;
}
mat-card {
  margin-bottom: 20px !important;
}

mat-chip-list {
  margin-top:15px !important;
  display: flex !important;
  flex-flow: row !important;
  flex-wrap: wrap !important;
}

mat-chip {
  margin:10px !important;
  background-color: lightgreen !important;
  padding: 15px !important;
}

section {
  width: 90%;
  margin: auto;
}
