.heading{
    font-size: xx-large;
    text-align: center;
    margin: 30px;
}
.q-template {
  margin-bottom: 40px;
}

.option-chip {
  background-color: #15A811;
  font-size: small;
  color:white
}
.navButtons {
  background-color: #15A811;
  color:white;
}
section {
  width: 90%;
  margin: auto;
}

.q-text {
  font-size: medium;
  margin-bottom: 20px;
}

@media screen and (max-width:578px){
  .q-text {
    font-size: small;
  }
  .heading {
    font-size: x-large;
  }
}
