<section *ngIf="sectionExist; else elseBlock">
  <h1>Overview of {{ sections[sectionIndex].sectionName }}</h1>
  <mat-card *ngFor="let answer of answers">
    <mat-card-title>{{ answer.question }}</mat-card-title>
    <mat-card-content *ngIf="answer.multiple; else singleAnswerBlock">
      <mat-chip-list>
        <mat-chip *ngFor="let opt of answer.options">{{
          opt.questionText
        }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <ng-template #singleAnswerBlock>
      <mat-card-content>
        {{ answer.options[0].questionText }}
      </mat-card-content>
    </ng-template>
  </mat-card>
</section>
<ng-template #elseBlock>
  <h1 class="overview-message">No overview exists!!!</h1>
</ng-template>
