@import '../../styles.scss';

.heading{
    font-size:45px;
    text-align: center;
    margin: 50px 20px;
    color: $light-grey;
}
.questionTemplate {
  margin: 2% 2% 2% 2%;
}

.optionChip {
  background-color: #15A811;
  color:$white;
  height: max-content;
}
.nextSectionButton {
  background-color: #15A811;
  color:$white;
  margin:20px 0px;
  float: right;
  text-transform: uppercase;
}
section {
  width: 90%;
  margin: auto;
}

.questionText {
  margin-bottom: 30px;
  font-size: 18px;
}

@media screen and (max-width:578px){
  .questionText {
    font-size: 15px;
  }
  .heading {
    font-size: 28px;
  }
}
@media screen and (min-width:578px) and (max-width:768px){
  .questionText {
    font-size: 16px;
  }
  .heading {
    font-size: 35px;
  }
}
