<div *ngIf="newSections.length==0" class="matSpinnerHolder">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="sectionIndex != -1 ">
  <mat-tab-group
    mat-align-tabs="center"
    #tabRef
    (selectedTabChange)="skipSectionHandler(tabRef.selectedIndex)"
    [selectedIndex]="sectionIndex"
  >
    <mat-tab
      *ngFor="let allSections of newSections"
      label="{{ allSections.sectionName }}"
    ></mat-tab>
  </mat-tab-group>

  <div *ngIf="!sectionStarted" class="mainSkipContainer">
    <div class="skipContainer">
      <mat-card class="skipCard">
        <mat-card-title class="sectionNameText">
          {{ newSections[sectionIndex].sectionName }}
        </mat-card-title>
        <br />
        <mat-card-content class="sectionDescriptionText">
          {{ newSections[sectionIndex].sectionDescription }}
        </mat-card-content>

        <mat-card-actions class="buttonSelect">
          <button
            *ngIf="!sectionTouched"
            mat-stroked-button
            class="skipButton"
            (click)="skipSection()"
          >
            Skip {{ newSections[sectionIndex].sectionName }}
          </button>
          <button
            *ngIf="sectionTouched"
            mat-stroked-button
            class="skipButton"
            (click)="skipSection()"
          >
            NEXT SECTION
          </button>
          <button mat-raised-button class="continueButton" (click)="continue()">
            {{ continueButtonText }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div *ngIf="sectionStarted">
    <mat-progress-bar
      mode="determinate"
      value="{{
        (currentQuestionNumberForDisplay / newSections[sectionIndex].questions.length) * 100
      }}"
    ></mat-progress-bar>

    <div class="mainContainer">
      <div class="customContainer">
        <mat-card class="QuestionText">
          {{ currentQuestionNumberForDisplay }} . {{ presentQuestion.questionText }}
        </mat-card>

        <div
          *ngIf="presentQuestion.multiple; else elseBlock"
          class="multipleOptionContainer"
        >
          <mat-chip-list selectable multiple class="multipleOptions">
            <mat-chip
              *ngFor="let option of presentQuestion.options"
              value="{{ option }}"
              [selected]="option.selected"
              (click)="multipleToggleSelection(option)"
            >
              {{ option.optionText }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <ng-template #elseBlock>
          <div class="singleOptionContainer">
            <mat-chip-list class="singleOptionList mat-chip-list-stacked">
              <mat-chip
                #c="matChip"
                *ngFor="let option of presentQuestion.options"
                value="{{ option }}"
                [selected]="option.selected"
                (click)="toggleSelection(c, option)"
              >
                {{ option.optionText }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </ng-template>
        <mat-card class="navButtonsContainer">
          <button
            *ngIf="currentQuestionNumberForDisplay > 1"
            mat-fab
            class="navButtonPrevious"
            (click)="previousQuestion()"
          >
            <mat-icon class="nav-icons">navigate_before</mat-icon>
          </button>
          <button mat-fab class="navButtonNext" (click)="nextQuestion()">
            <mat-icon class="nav-icons">navigate_next</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
