/* You can add global styles to this file, and also import other style files */

$primary: #6c7069;
$secondary: #4da30d;
$tertiary:#dce31e ;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
