@import '../../styles.scss';

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
  color: $light-grey;
  line-height: 7vh;
}

section {
  width:90%;
  margin:auto;
  padding:10px;
}
.sectionCard {
  margin:20px auto;
}
.sectionName {
  font-weight: 500;
  font-size: 18px;
}
.questionList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.questionText {
  margin-bottom: 20px;
  font-size:17px;
}

.optionChip {
  background-color: $green;
  color:$white;
  font-size: 15px;
  height:max-content;
}

.questionTemplate {
  width: 47%;
  margin-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color:$yellow;
  border-bottom-width: 1px;

}
.showUserForm {
  width:80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: $yellow solid;
  border-radius: 20px;
  border-width: 2px;
}
.priceEstimate {
  width: 20%;
  height: auto;
  -moz-box-shadow:inset 0 0 10px $white;
  -webkit-box-shadow:inset 0 0 10px $white;
  box-shadow:inset 0 0 10px $white;
  font-size:x-large;
  border-radius: 20px;
  background-color: $green;
  margin: 40px auto 40px auto;
  text-align: center;
  color:$white;
  font-weight: 500;
}
::ng-deep .errorMessage > .mat-card-content {
  font-size: 20px;
}

@media screen and (min-width:568px) and (max-width:768px){
  .questionTemplate {
    width: 100%;
    margin-top:10px ;
    margin-bottom: 10px;
  }
  .questionList {
    flex-flow: column;
  }
  .priceEstimate {
    width: 40%;
    font-size: large;

  }
  .questionText {
    font-size: 17px;
  }
  .heading {
    font-size: 30px;
  }
  .errorMessage {
    font-size: 20px;
    padding: 20px;
  }
}

.errorMessage {
  width: 100%;
  text-align: center;
  background-color: $light-grey;
  color:$white;
  padding:40px;
  font-size: 30px;
}

#prevButton {
  background-color: $yellow;
  color: $white;
}
#nextButton {
  background-color: $green;
  color:$white;
}

.submitUserDetails {
  background-color: $yellow;
  color:$white;
  padding:7px 20px;
  font-size: 18px;
  margin:20px;
  outline: none;
}

.submitUserDetails:hover {
  background-color: $green;
}
mat-card-footer {
  width: 100%;
}

.showUserForm > mat-card {
  box-shadow: none;
  margin-top:60px;
  margin-bottom:0px ;
  width:90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.formInput {
  display: flex;
  flex-flow: row;
  margin: auto;
  justify-content: space-around;
  width:80%;
}
#greetingMessage {
  font-size: 40px;
  line-height: 7vh;
  font-weight: 400;
  color: $green;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}
::ng-deep .mat-form-field-infix{
  width:275px !important;
}

.content {
  font-size: 18px;
  line-height: 6vh;
  font-weight: 400;
  width:80%;
  margin:0px auto 40px auto;
  justify-content: center;
}
.inputVal {
  margin:20px;
  width:100%;
}

.has-error {
  color:$white;
  padding:5px 30px;
  font-size: 20px;
  margin:20px;
  border-radius: 20px;
}

mat-icon {
  color:$green;
}

::ng-deep .mat-input-element {
  caret-color: $green;
  font-size: 16px !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:$green;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color:$green
}
.mat-form-field {
  font-size: 18px;
  width: 95%;
}
::ng-deep .mat-input-element {
  caret-color: $green;
  font-size: 16px !important;
  font-weight: 300px;
}

@media screen and (min-width:769px) and (max-width:978px){
  .priceEstimate {
    width: 30%;
  }
  #greetingMessage {
    font-size :xx-large;
  }
  .content {
    font-size: 17px;
  }
  .formInput {
    flex-flow: column;
  }
  .inputVal {
    margin:20px auto;
  }
  .showUserForm > mat-card {
    margin: auto;
  }
}
@media screen and (min-width:568px) and (max-width:768px){
 #greetingMessage {
   font-size: x-large;
 }

 .formInput {
   flex-flow: column;
 }
 .inputVal {
   margin:20px auto;
 }
 .content {
   font-size: 15px;
 }
 .inputVal {
  width: 100%;
}
.submitUserDetails {
  padding:7px 12px;
  font-size: 15px;
}
.showUserForm > mat-card {
  margin: auto;
}

}

@media screen and (min-width:368px) and (max-width:567px){
  .priceEstimate {
    width: 40%;
    font-size: medium;
  }
  .questionList {
    flex-flow: column;
  }
  .questionTemplate {
    width: 100%;
    margin-top:10px ;
    margin-bottom: 10px;
  }
  .questionText{
    font-size: 15px;
  }
  .heading {
    font-size: 25px;
  }
  ::ng-deep .mat-card-content {
    font-size:14px;
  }
  ::ng-deep .errorMessage > .mat-card-content {
    font-size: 15px;
  }
  #greetingMessage {
    font-size: x-large;
  }
  .formInput {
    flex-flow: column;
  }
  .showUserForm {
    width:100%;
  }

  .showUserForm > mat-card {
    margin: auto;
  }

  .inputVal {
    margin:20px auto;
  }

  .content {
    font-size: 15px;
  }
  .mat-form-field {
    font-size: 17px;
    width: 100%;
  }
  .submitUserDetails {
    padding:5px 10px;
    font-size: 15px;
  }
}
@media screen and (min-width:168px) and (max-width:367px){
  .priceEstimate {
    width: 70%;
    font-size: medium;
  }
  .questionList {
    flex-flow: column;
  }
  .questionTemplate {
    width: 100%;
    margin-top:10px ;
    margin-bottom: 10px;
  }
  .questionText{
    font-size: 10px;
  }
  #greetingMessage{
    font-size: large;
  }
  .formInput {
    flex-flow: column;
  }
  .content {
    font-size: 13px;
  }
  .inputVal {
    margin:20px auto;
  }
  .mat-form-field {
    font-size: 15px;
    width: 100%;
  }
  .showUserForm {
    width:100%;
  }
  .showUserForm > mat-card {
    margin: auto;
  }
}
